*.swp
ansible/kubeconfig.yml
ansible/inventory
ansible/vars/main.yml
ansible/deploy_cache/*
ansible/join-command
ansible/join-cert
ansible/old/*
terraform/.terraform/*
terraform/terraform.tfvars
terraform/vpc/.terraform/*
terraform/ip_address.txt
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/old/*
.travis.yml
.vagrant/*
*.retry
*.log
