[localhost]
127.0.0.1  ansible_connection=local

[localhost:vars]
ansible_python_interpreter=${interpreter_python}
aws_region=${aws_region}

[controlplane]
%{ for idx, cp in controlplane_ips ~}
cp${idx}  ansible_host=${cp}
%{ endfor ~}

[controlplane:vars]
ansible_ssh_user=ubuntu
ansible_ssh_private_key_file=${ssh_key_file}
clusterName=${cluster_name}
apiEndpoint=api.${cluster_name}
ansible_python_interpreter=/usr/bin/python3

[worker]
%{ for idx, worker in worker_ips ~}
worker${idx}  ansible_host=${worker}
%{ endfor ~}

[worker:vars]
ansible_ssh_user=ubuntu
ansible_ssh_private_key_file=${ssh_key_file}
ansible_python_interpreter=/usr/bin/python3

[nodeAll:children]
controlplane
worker
